In [1]:
from ultralytics import YOLO
import os
import cv2
import numpy as np
import pandas as pd
from collections import defaultdict
from PIL import Image, ImageDraw
from tqdm import tqdm
import csv

In [2]:
model_path = r"C:\Users\sharm\Python Projects\ML Projects\Bengaluru Mobility Challenge\Bengaluru Mobility Challenge Solution\runs\detect\train\weights\best.pt"
yolo_model = YOLO(model_path)
print("Model loaded successfully!")

Model loaded successfully!

In [3]:
track_history = defaultdict(list)
vehicle_classes = defaultdict(int)

In [4]:
video_file = r"C:\Users\sharm\Python Projects\ML Projects\Bengaluru Mobility Challenge\Bengaluru Mobility Challenge Solution\Video File\Stn_HD_1_time_2024-05-29T07_30_02_002.mp4"
video_file

'C:\\Users\\sharm\\Python Projects\\ML Projects\\Bengaluru Mobility Challenge\\Bengaluru Mobility Challenge Solution\\Video File\\Stn_HD_1_time_2024-05-29T07_30_02_002.mp4'

In [5]:
cap = cv2.VideoCapture(video_file)
total_frames = int(cap.get(cv2.CAP_PROP_FRAME_COUNT))
fps = cap.get(cv2.CAP_PROP_FPS)
duration = total_frames / fps
frame_width = int(cap.get(cv2.CAP_PROP_FRAME_WIDTH))
frame_height = int(cap.get(cv2.CAP_PROP_FRAME_HEIGHT))

print(f"Total frames: {total_frames}")
print(f"Frame width : {frame_width}")
print(f"Frames height : {frame_height}")
print(f"Frames per second (FPS): {fps}")
print(f"Duration of video (in seconds): {duration:.2f}")

Total frames: 22503
Frame width : 1920
Frames height : 1080
Frames per second (FPS): 25.0
Duration of video (in seconds): 900.12

In [6]:
output_dir = r"C:\Users\sharm\Python Projects\ML Projects\Bengaluru Mobility Challenge\Bengaluru Mobility Challenge Solution\frames"
os.makedirs(output_dir, exist_ok=True)

In [7]:
frame_count = 0
progress_bar = tqdm(total=total_frames, desc='Processing Video', unit='frame', dynamic_ncols=True)

while cap.isOpened():
    success, frame = cap.read()
    #frame = cv2.resize(frame, (640, 384))
    if not success:
        break
        
    results = yolo_model.track(frame, tracker = 'bytetrack.yaml', persist=True, verbose = False)
    try:
        boxes = results[0].boxes.xywh.cpu()
        track_ids = results[0].boxes.id.int().cpu().tolist()
        classes = results[0].boxes.cls.int().cpu().tolist()
        annotated_frame = results[0].plot()
            
        for box, track_id, cls in zip(boxes, track_ids, classes):
            x, y, w, h = box
            track_history[track_id].append((cls, float(x), float(y)))
            vehicle_classes[track_id] = cls
                
            # Visualization (optional)
            points = np.array(track_history[track_id]).astype(np.int32).reshape((-1, 1, 2))
            cv2.polylines(annotated_frame, [points], isClosed=False, color=(230, 230, 230), thickness=2)
            
        #frame_filename = f"frame_{frame_count:06d}.jpg"
        #frame_path = os.path.join(output_dir, frame_filename)
        #cv2.imwrite(frame_path, annotated_frame)
            
            
        frame_count += 1
        progress_bar.update(1)

        #cv2.namedWindow("Vehicle Tracking", cv2.WINDOW_NORMAL)
        #cv2.imshow("Vehicle Tracking", annotated_frame)
       
        
    except Exception as e:
        continue
    
    progress_bar.close()

cap.release()
cv2.destroyAllWindows()

Processing Video:   0%|          | 1/22503 [00:05<36:48:29,  5.89s/frame]

In [8]:
len(track_history)

1464

In [15]:
num = 1
for obj, frame in track_history.items():
    print(obj, frame, frame[0][0])
    num += 1
    if num > 5:
        break

1 [(2, 263.349365234375, 162.67593383789062), (2, 263.219482421875, 162.73721313476562), (2, 273.6424865722656, 157.7827606201172), (2, 281.81964111328125, 155.2445068359375), (2, 290.3223876953125, 154.3070068359375), (2, 299.1944885253906, 153.82322692871094), (2, 307.6299133300781, 152.47230529785156), (2, 322.173828125, 148.52447509765625), (2, 328.48388671875, 149.9545440673828), (2, 343.22998046875, 149.2075653076172), (2, 351.0227355957031, 149.1234130859375), (2, 364.15277099609375, 148.10784912109375), (2, 373.2123718261719, 146.74288940429688), (2, 388.86572265625, 145.60562133789062), (2, 397.525146484375, 142.24713134765625), (2, 408.311279296875, 141.1492919921875), (2, 415.84881591796875, 139.5624237060547), (2, 427.4529113769531, 140.33067321777344), (2, 437.0250549316406, 138.6474609375), (2, 444.29998779296875, 137.027587890625), (2, 453.2716064453125, 135.69857788085938), (2, 460.62158203125, 133.67552185058594), (2, 468.385009765625, 131.6337127685547), (2, 474.19451904296875, 130.0665283203125), (2, 483.59283447265625, 129.85025024414062), (2, 493.57562255859375, 130.0570526123047), (2, 502.1912536621094, 127.75489807128906), (2, 510.5274658203125, 128.64242553710938), (2, 519.9857177734375, 125.73214721679688), (2, 529.2535400390625, 124.62722778320312), (2, 535.9574584960938, 126.26947021484375), (2, 545.6416015625, 120.65324401855469), (2, 557.6011962890625, 114.15959930419922), (2, 567.1272583007812, 110.39747619628906), (2, 576.6195068359375, 109.11570739746094), (2, 584.2499389648438, 107.79035949707031), (2, 593.3555908203125, 106.6861572265625), (2, 600.1776733398438, 107.04927825927734), (2, 606.9918212890625, 105.79310607910156), (2, 617.389404296875, 105.13504028320312), (2, 626.2147216796875, 102.8622817993164), (2, 636.3519287109375, 101.10105895996094), (2, 644.6871337890625, 99.9994125366211), (2, 652.8062744140625, 98.08954620361328), (2, 661.4911499023438, 97.94612884521484), (2, 669.765869140625, 96.62259674072266), (2, 677.5206909179688, 96.94094848632812), (2, 685.6658935546875, 97.09844970703125), (2, 693.169677734375, 96.1700210571289), (2, 700.92333984375, 94.3481674194336), (2, 708.5350341796875, 93.58951568603516), (2, 715.248779296875, 91.52465057373047), (2, 722.777587890625, 90.54145812988281), (2, 730.4334716796875, 90.20164489746094), (2, 736.9420776367188, 85.57352447509766), (2, 743.6365966796875, 85.31196594238281), (2, 751.472412109375, 81.56364440917969), (2, 758.24169921875, 79.69015502929688), (2, 765.1036376953125, 77.11933898925781), (2, 770.06982421875, 76.20806121826172), (2, 774.9473876953125, 76.41999053955078), (2, 779.8319702148438, 75.39248657226562), (2, 785.451416015625, 75.73174285888672), (2, 791.2728271484375, 75.09212493896484), (2, 797.33642578125, 74.17720031738281), (2, 802.645751953125, 73.04500579833984), (2, 808.5594482421875, 71.10687255859375), (2, 812.9330444335938, 71.03041076660156), (2, 816.394775390625, 70.18307495117188), (2, 821.3460693359375, 68.95535278320312), (2, 826.8617553710938, 68.82270812988281), (2, 831.5166015625, 68.85942840576172), (2, 835.603271484375, 68.24197387695312), (2, 838.598876953125, 66.24636840820312), (2, 841.895751953125, 65.6688232421875), (2, 846.9070434570312, 65.39641571044922), (2, 850.3486328125, 64.05665588378906), (2, 853.7459716796875, 61.49247360229492), (2, 857.0347900390625, 62.32685470581055), (2, 860.3484497070312, 60.6078987121582), (2, 862.7130126953125, 57.29488754272461), (2, 865.0198364257812, 52.17637252807617), (2, 869.291748046875, 53.37440490722656), (2, 872.9688720703125, 50.44816589355469), (2, 875.9190673828125, 53.30057144165039), (2, 878.9427490234375, 51.805667877197266), (2, 880.7579345703125, 49.30480194091797), (2, 883.02734375, 48.3042106628418), (2, 884.36279296875, 49.38459014892578), (2, 886.15771484375, 48.86231994628906), (2, 888.2366943359375, 46.39951705932617), (2, 890.354736328125, 44.99170684814453), (2, 893.5640258789062, 44.57474136352539), (2, 902.052978515625, 42.271419525146484), (2, 908.0965576171875, 40.57769775390625)] 2
2 [(2, 1755.1876220703125, 310.5132751464844), (2, 1767.471923828125, 313.0437316894531), (2, 1791.84716796875, 332.7085876464844), (2, 1813.724853515625, 330.3003234863281), (2, 1821.751708984375, 336.1232604980469), (2, 1839.12841796875, 335.16717529296875), (2, 1851.98974609375, 338.88037109375)] 2
3 [(2, 1102.65576171875, 101.754150390625), (2, 1102.6912841796875, 101.90306854248047), (2, 1102.66748046875, 101.47486877441406), (2, 1102.0963134765625, 100.5413589477539), (2, 1102.550048828125, 101.51482391357422), (2, 1102.532958984375, 100.19019317626953), (2, 1102.304443359375, 98.72856140136719), (2, 1101.79150390625, 98.44898223876953), (2, 1101.934814453125, 99.2874755859375), (2, 1102.6484375, 101.03266143798828), (2, 1102.8985595703125, 100.47480010986328), (2, 1102.83056640625, 101.49191284179688), (2, 1102.68701171875, 102.05947875976562), (2, 1102.292236328125, 101.5531997680664), (2, 1102.503173828125, 100.80769348144531), (2, 1102.640625, 99.57085418701172), (2, 1102.606689453125, 99.94181823730469), (2, 1102.512939453125, 99.5877685546875), (2, 1101.73291015625, 99.74005126953125), (2, 1101.814208984375, 99.74783325195312), (2, 1101.472900390625, 98.88008880615234), (2, 1102.3359375, 97.693115234375), (2, 1101.973388671875, 100.12762451171875), (2, 1102.206787109375, 100.42039489746094), (2, 1102.305908203125, 100.48128509521484), (2, 1102.3663330078125, 100.83531951904297), (2, 1102.2685546875, 100.38397216796875), (2, 1102.001220703125, 99.57122039794922), (2, 1102.6192626953125, 98.84943389892578), (2, 1102.342529296875, 97.52665710449219), (2, 1102.4913330078125, 97.13236236572266), (2, 1101.551025390625, 98.27821350097656), (2, 1101.754638671875, 100.02957916259766), (2, 1102.534423828125, 100.09364318847656), (2, 1102.825439453125, 101.501953125), (2, 1102.85693359375, 103.00753784179688), (2, 1102.770263671875, 103.21920776367188), (2, 1102.4794921875, 102.80384826660156), (2, 1102.267578125, 101.99085235595703), (2, 1101.915283203125, 100.34101867675781), (2, 1101.6552734375, 99.03201293945312), (2, 1101.42333984375, 98.62464904785156), (2, 1101.7073974609375, 98.45899200439453), (2, 1102.056884765625, 98.5146255493164), (2, 1102.1829833984375, 98.68055725097656), (2, 1102.40380859375, 98.97716522216797), (2, 1102.2294921875, 98.88385772705078), (2, 1102.1409912109375, 98.31842803955078), (2, 1106.23095703125, 99.07020568847656)] 2
4 [(2, 608.111083984375, 249.60662841796875), (2, 906.2753295898438, 243.2476043701172), (2, 1058.820556640625, 244.3936767578125), (2, 1204.474365234375, 249.10572814941406), (2, 1336.676513671875, 256.29443359375), (2, 1461.262939453125, 266.4234924316406), (2, 1581.974609375, 273.97271728515625), (2, 1674.619873046875, 285.4404602050781), (2, 1764.972900390625, 294.723388671875), (2, 1798.6356201171875, 299.7463684082031), (2, 1832.90869140625, 307.2950134277344)] 2
5 [(6, 1440.5989990234375, 147.79611206054688), (6, 1438.0238037109375, 145.82247924804688), (6, 1437.2142333984375, 139.50987243652344), (6, 1443.1788330078125, 148.96127319335938), (6, 1443.4234619140625, 147.42974853515625), (6, 1438.146240234375, 144.49246215820312), (6, 1444.302978515625, 150.08560180664062), (6, 1444.4581298828125, 148.36570739746094)] 6

In [17]:
track_df = pd.DataFrame([(obj_id, history[0][0], history) for obj_id, history in track_history.items()],
                            columns=["Object ID", "Class", "Track History"])
track_df

      Object ID  Class                                      Track History
0             1      2  [(2, 263.349365234375, 162.67593383789062), (2...
1             2      2  [(2, 1755.1876220703125, 310.5132751464844), (...
2             3      2  [(2, 1102.65576171875, 101.754150390625), (2, ...
3             4      2  [(2, 608.111083984375, 249.60662841796875), (2...
4             5      6  [(6, 1440.5989990234375, 147.79611206054688), ...
...         ...    ...                                                ...
1459       4490      6  [(6, 1216.593505859375, 218.48361206054688), (...
1460       4499      6  [(6, 762.932861328125, 39.01149368286133), (6,...
1461       4503      2  [(2, 1055.017578125, 19.89910125732422), (2, 1...
1462       4504      6  [(6, 1071.1376953125, 117.34809875488281), (6,...
1463       4505      1  [(1, 170.45103454589844, 121.90228271484375), ...

[1464 rows x 3 columns]

In [19]:
track_df.to_csv('track_history.csv', index=False)

In [21]:
df = pd.read_csv(r"C:\Users\sharm\Python Projects\ML Projects\Bengaluru Mobility Challenge\track_history.csv")
df

      Object ID  Class                                      Track History
0             1      2  [(2, 263.349365234375, 162.67593383789062), (2...
1             2      2  [(2, 1755.1876220703125, 310.5132751464844), (...
2             3      2  [(2, 1102.65576171875, 101.754150390625), (2, ...
3             4      2  [(2, 608.111083984375, 249.60662841796875), (2...
4             5      6  [(6, 1440.5989990234375, 147.79611206054688), ...
...         ...    ...                                                ...
1459       4490      6  [(6, 1216.593505859375, 218.48361206054688), (...
1460       4499      6  [(6, 762.932861328125, 39.01149368286133), (6,...
1461       4503      2  [(2, 1055.017578125, 19.89910125732422), (2, 1...
1462       4504      6  [(6, 1071.1376953125, 117.34809875488281), (6,...
1463       4505      1  [(1, 170.45103454589844, 121.90228271484375), ...

[1464 rows x 3 columns]